.chats {
  position: relative;
  height: 400px;
  width:250px ;
}

.chats__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #059ee0;
}

.chats__search {
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 8px;
}

.chats__avatar {
  height: 25px!important;
  width: 25px!important;
}

.chats__search > input {
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 12px;
  flex: 1;
  color: white;
  height: 50px;
}

.chats__search > input::placeholder {
  color: white;
  opacity: 1;
}

.chat__posts {
  box-shadow: 1px -7px 7px -6px rgba((0), 0, 0, 0.44);
  height: 350px;
  margin-top: -9px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  overflow: scroll;
}

.chat__posts::-webkit-scrollbar{
  display: none;
}

.chat__posts {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chats__takepicicon {
  position: absolute;
  background-color: white;
  border-radius: 200px;
  color: gray;
  font-size: 40px !important;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  translate: -50%, -50%;
}

.chats__takepicicon:hover {
  opacity: 0.8;
}

.chats__searchIcon {
  color: white;
  font-size: 13px !important;
}

.chats__chatIcon {
  color: white;
  font-size: 18px !important;
}