.chat {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
}

.chat:hover {
  opacity: 0.8;
}

.chat_avatar {
  height: 35px !important;
  width: 35px !important;
}

.chat__readIcon {
  color: red;
}

.chat__info {
  flex: 1;
  padding-left: 5px;
}

.chat__info > h4 {
  font-size: 11px;
  font-weight: 500;
}

.chat__info > p {
  font-size: 9px;
}